@font-face {
    font-family: 'pt_sans_regular';
    src: url('../fonts/ptsanscaption-regular.woff2') format('woff2'),
         url('../fonts/ptsanscaption-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
